.menu{
    position: relative;
    left: 2px;
    background: rgba(79, 79, 79, 0.12);
}
.mainMenu button{
    display: block;
}
.logout{
}
.mainMenu button:focus-within{
    background-color: rgba(253,192,15,0.93);
}
.submenu {
    list-style-type: none;
}
.mainMenu button{
    width: 90%;
    margin: 4px 5px 6px 11px;
}
.submenu button{
    margin: 2px 2px 2px 7px;
}
.cancel{
    background: url("../../Icons/050218D.png");
    width: 34px;
    height: 28px;
}
.add{
    background: url("../../Icons/plus.png");
    width: 44px;
    height: 40px;
}