.main{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #61dafb;

}
.logotype {
    max-height: 268px;
    max-width: 137px;
}
body{
    background: rgba(255, 247, 227, 0.67);
}
.question {
    max-height: 100px;
    max-width: 69px;
}
.header{
    text-align: center;
    border-bottom: 2px solid #FDC00F;
}
.header img:first-child{
    text-align: right;
}
.header nav:nth-child(2){
    margin-top: 35px;
}
