
.selection{
    position: relative;
    margin: 20px 20px 20px 20px;
    border: 1px solid;
}
.action{
    position: relative;
    display: inherit;
}
.selection,.filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selection p{
    padding-right: 6px;
    padding-left: 6px;

}
.selection select{
    margin: 12px 12px 12px 12px;
}
.action button:first-child{
    background: url("../../Icons/050218D.png");
    width: 54px;
    height: 48px;
}
.action button{
    border: none;
    background-size: 100% 100% !important;

}
.action button:last-child{
    position: relative;
    top: 3px;
    background: url("../../Icons/ClearIcon.png");
    width: 44px;
    height: 40px;
}
.filter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 194.3%;
    margin: 10px 10px 10px 10px;
}
.selection div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
