.big_icon {
    position: relative;
}
.statement b{

    margin: 0 200px 0 auto;
}
.title {
    margin-top: 20px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 97px;
    color: #FDC00F;
    text-align: center;
}

.header button:nth-child(2){
    margin:  0 0 0 auto;
}
.statement {
    position: relative;
    left: 12vw;
    top: 2vh;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #272626;
}

.sign_up {
    color: #FDC00F !important;

}

.startPage{
    background: rgba(255, 247, 227, 0.77);
}
.log_in, .sign_up {
    font-family: "Josefin Sans", "Leelawadee UI";
    font-size: 50px;
    border: none;
    background-color: transparent;
}
.log_in{
    color: black !important;
}
.question {
    background-size: cover;
    margin: 12px 12px 12px 12px;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;

}